.row {
	color:white;
	height:50px;
	background-color:#aaa;


}

.row:hover {
	color:#aaa;
	background-color:white;
	cursor:pointer;
}

.currentmsg {
	height:150px;
	
	background-color:#eee;
	border:.5px solid black;
	padding:10px 2px 10px 2px;
	color:gray;
	margin-top:-10px;
	
}

#messageBody {
	margin-top:-20px;
}

#generatedData {
	border:.5px solid black;
	width:100%;
}