
.rowbody {
	color:white;
	height:50px;
	background-color:#aaa;
	margin-left:-2.5px;
	margin-right:-2.5px;


}

.row {
	color:white;
	height:50px;
	background-color:#aaa;
	
	margin:auto;


	}

.dsize {
	height:50px;
}

.row:hover {
	color:#aaa;
	background-color:white;
	cursor:pointer;
	margin-left:-2.5px;
	margin-right:-2.5px;
	
	
	
}

.senderRow {
	margin-left:0px;
	margin-right:0px;
}

.currentmsg {
	height:150px;
	
	background-color:#eee;
	border:.5px solid black;
	padding:10px 2px 10px 2px;
	color:gray;
	margin-top:-10px;
	
}

#messageBody {
	margin-top:-20px;
}

#generatedData {
	border:.5px solid black;
	width:100%;

}

.mainlogo {
	height:10%;
	width:auto;
}

.topheader {
	text-align:center;
	font-family:Arial-black;
}

#inbox {
	font-family:Arial-black;
	font-size:14px;
}

.fakeinfo {
	font-family:Arial-black;
	font-size:14px;
}

.bodyrow {
	background:#ededed;
	
}